.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(2, 1fr);
  height: 100vh;
  padding: 2em 0 0;
  overflow: auto;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  transition: all .5s;
  &--list {
    margin-top: 1.5em;
    &-content {
      min-height: 150px;
      margin: 0;
      list-style: none;
      padding: 0;
    }
    &-title {
      font-weight: 600;
      margin: 0 1em;
      padding-bottom: .3em;
      border-bottom: 0.03em solid var(--clr-light);
    }
    &-item {
      // border: 1px solid red;
      padding: 1em;
      cursor: pointer;
      font-size: 1em;
      font-weight: 400;
      transition: all .3s;
      &:hover {
        background: #2c3661;
      }
    }
    &-item:last-child {
      margin: 0;
    }
    &-content.friends &-item {
      display: flex;
      align-items: center;
    }
    &-content.friends img {
      width: 2.5em;
      height: 2.5em;
      margin-right: 0.625em;
      border-radius: 50%;
    }
    &-content.friends span {
      display: inline-block;
    }
  }
}

.logo {
  display: flex;
  padding: 0 1em;

  &:hover{
    cursor: pointer;
    text-shadow: 0px 0px 5px var(--clr-secundary);
  }
  img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.625em;
  }
  p {
    font-size: 2em;
    font-weight: 600;
  }
  span {
    color: var(--clr-secundary);
  }
}