:root {
  --ft-family: 'Nunito', sans-serif;
  --ft-size: 16px;
  --clr-primary: #151b31;
  --clr-gray: rgb(102, 102, 102);
  --clr-light: #ffffff;
  --clr-secundary: rgb(149, 202, 62);
}
*, *::before, *::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  color: var(--clr-primary);
  font-family: var(--ft-family);
  font-size: var(--ft-size);
}
figure, h1, h2, h3, p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.home {
  position: relative;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "sidebar main"
                       "sidebar main";
}

@import './scroll';
@import './animations';
@import './main';
@import './sidebar';
@import './modal';
@import './responsive';