:root {
  --clr-1: #7dc800;
  --clr-2: #ff2433;
  --clr-3: #3F546C;
  --ft-family: "Open Sans", sans-serif;
  --ft-size: 16px;
  --clr-primary: #151b31;
  --clr-gray: #4f4f4f;
  --clr-light: #ffffff;
  --clr-secundary: #ff0000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ft-family);
  font-size: var(--ft-size);
}

figure, h1, h2, h3, p {
  margin: 0;
}

img {
  width: 100%;
}

.home {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "sidebar main" "sidebar main";
}

#sidebar::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #f5f5f5;
}

#sidebar::-webkit-scrollbar-button {
  display: none;
}

#sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar-corner {
  display: none;
}

#action::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #f5f5f5;
}

#action::-webkit-scrollbar-button {
  display: none;
}

#action::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#action::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#action::-webkit-scrollbar-corner {
  display: none;
}

#animation::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #f5f5f5;
}

#animation::-webkit-scrollbar-button {
  display: none;
}

#animation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#animation::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#animation::-webkit-scrollbar-corner {
  display: none;
}

#horror::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #f5f5f5;
}

#horror::-webkit-scrollbar-button {
  display: none;
}

#horror::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#horror::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#horror::-webkit-scrollbar-corner {
  display: none;
}

#comedy::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #f5f5f5;
}

#comedy::-webkit-scrollbar-button {
  display: none;
}

#comedy::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#comedy::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#comedy::-webkit-scrollbar-corner {
  display: none;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(2, 1fr);
  height: 100vh;
  padding: 1em;
  overflow: auto;
  color: var(--clr-light);
  background-color: var(--clr-primary);
}
.sidebar--list {
  padding: 1em;
}
.sidebar--list-content {
  margin: 1.5em 0 0;
  list-style: none;
  padding: 0;
}
.sidebar--list-title {
  font-weight: 600;
}
.sidebar--list-item {
  margin: 0 0 1em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
}
.sidebar--list-item:last-child {
  margin: 0;
}
.sidebar--list-content.friends .sidebar--list-item {
  display: flex;
  align-items: center;
}
.sidebar--list-content.friends img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.sidebar--list-content.friends span {
  display: inline-block;
}

.logo {
  display: flex;
  padding: 0 1em 1em;
}
.logo:hover {
  cursor: pointer;
  text-shadow: 0px 0px 5px #95ca3e;
}
.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.logo p {
  font-size: 2em;
  font-weight: 600;
}
.logo span {
  color: #95ca3e;
}

.main {
  grid-area: main;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "search user" "list list";
  overflow: scroll;
}

.search {
  grid-area: search;
  padding: 1em;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
.search--form {
  width: 100%;
}
.search--form input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
}
.search--form input:hover {
  background: #efefef;
}
.search--form input:focus {
  background: #efefef;
}

.user {
  grid-area: user;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  display: flex;
  justify-content: flex-end;
}
.user--wrapper {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  cursor: pointer;
}
.user--wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.category-container {
  grid-area: list;
  padding: 1em;
  overflow: auto;
}

.category {
  min-height: 350px;
}
.category--topic {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.category--title {
  font-size: 20px;
  font-weight: 600;
}
.category--list {
  display: flex;
  padding: 40px 0;
  overflow: auto;
  flex-wrap: nowrap;
}

.category + .category {
  margin-top: 20px;
}

.movie {
  flex-shrink: 0;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 450ms;
  transform-origin: left center;
}
.movie--image {
  width: 180px;
  height: 250px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
}
.movie--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie--title {
  margin-top: 5px;
  text-align: center;
  color: #3F546C;
  font-size: 16px;
  font-weight: 300;
}

.movie + .movie {
  margin-left: 10px;
}

.movie:hover ~ .movie {
  transform: translateX(30px);
}

.movie:hover .movie {
  opacity: 0.3;
}

.movie:hover {
  opacity: 1;
  transform: scale(1.2);
}

.loading {
  border: 1px solid red;
  display: flex;
  width: 100%;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 1px solid blue;
  height: 1vmin;
  left: 50%;
  /* margin: -5vmin 0 0 -5vmin; */
  position: fixed;
  /* fixed */
  top: 50%;
  width: 1vmin;
}

.loader::before {
  content: "";
  animation: blueRotate 3s linear infinite;
  background-color: var(--clr-2);
  height: 5vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 5vmin;
  opacity: 0.5;
}

.loader::after {
  content: "";
  animation: pinkRotate 3s linear infinite;
  background-color: var(--clr-3);
  opacity: 0.5;
  height: 5vmin;
  width: 5vmin;
  position: absolute;
  left: 5vmin;
  top: 5vmin;
}

@keyframes blueRotate {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(5vmin, 0) rotate(90deg);
  }
  50% {
    transform: translate(5vmin, 5vmin) rotate(180deg);
  }
  75% {
    transform: translate(0, 5vmin) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
@keyframes pinkRotate {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5vmin, 0);
  }
  50% {
    transform: translate(-5vmin, -5vmin);
  }
  75% {
    transform: translate(0, -5vmin);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
