:root {
  --ft-family: "Open Sans", sans-serif;
  --ft-size: 16px;
  --clr-primary: #151b31;
  --clr-gray: #4f4f4f;
  --clr-light: #ffffff;
  --clr-secundary: #ff0000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  color: var(--clr-primary);
  font-family: var(--ft-family);
  font-size: var(--ft-size);
}

figure, h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #136CB2;
}

img {
  width: 100%;
}

.home {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "sidebar main" "sidebar main";
}

#sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#sidebar::-webkit-scrollbar-button {
  display: none;
}

#sidebar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(44, 54, 97, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(44, 54, 97, 0.3);
  background-color: #2c3661;
}

#sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar-corner {
  display: none;
}

#genre-list::-webkit-scrollbar {
  display: none;
}

#genre-list::-webkit-scrollbar-thumb {
  display: none;
}

#genre-list::-webkit-scrollbar-track {
  display: none;
}

#genre-list::-webkit-scrollbar-button {
  display: none;
}

#action::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #f5f5f5;
}

#action::-webkit-scrollbar-button {
  display: none;
}

#action::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(44, 54, 97, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(44, 54, 97, 0.3);
  background-color: #2c3661;
}

#action::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#action::-webkit-scrollbar-corner {
  display: none;
}

#animation::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #f5f5f5;
}

#animation::-webkit-scrollbar-button {
  display: none;
}

#animation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(44, 54, 97, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(44, 54, 97, 0.3);
  background-color: #2c3661;
}

#animation::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#animation::-webkit-scrollbar-corner {
  display: none;
}

#horror::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #f5f5f5;
}

#horror::-webkit-scrollbar-button {
  display: none;
}

#horror::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(44, 54, 97, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(44, 54, 97, 0.3);
  background-color: #2c3661;
}

#horror::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#horror::-webkit-scrollbar-corner {
  display: none;
}

#comedy::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #f5f5f5;
}

#comedy::-webkit-scrollbar-button {
  display: none;
}

#comedy::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(44, 54, 97, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(44, 54, 97, 0.3);
  background-color: #2c3661;
}

#comedy::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#comedy::-webkit-scrollbar-corner {
  display: none;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(2, 1fr);
  height: 100vh;
  padding: 2em 0 0;
  overflow: auto;
  color: var(--clr-light);
  background-color: var(--clr-primary);
}
.sidebar--list {
  margin-top: 1.5em;
}
.sidebar--list-content {
  min-height: 150px;
  margin: 0;
  list-style: none;
  padding: 0;
}
.sidebar--list-title {
  font-weight: 600;
  margin: 0 1em;
  padding-bottom: 0.3em;
  border-bottom: 0.03em solid #fff;
}
.sidebar--list-item {
  padding: 1em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  transition: all 0.3s;
}
.sidebar--list-item:hover {
  background: #2c3661;
}
.sidebar--list-item:last-child {
  margin: 0;
}
.sidebar--list-content.friends .sidebar--list-item {
  display: flex;
  align-items: center;
}
.sidebar--list-content.friends img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.sidebar--list-content.friends span {
  display: inline-block;
}

.logo {
  display: flex;
  padding: 0 1em;
}
.logo:hover {
  cursor: pointer;
  text-shadow: 0px 0px 5px #95ca3e;
}
.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.logo p {
  font-size: 2em;
  font-weight: 600;
}
.logo span {
  color: #95ca3e;
}

.main {
  grid-area: main;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "search user" "list list";
  overflow: scroll;
}

.search {
  grid-area: search;
  padding: 1em;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
.search--form {
  width: 100%;
}
.search--form input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
}
.search--form input:hover {
  background: #efefef;
}
.search--form input:focus {
  background: #efefef;
}

.user {
  grid-area: user;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  display: flex;
  justify-content: flex-end;
}
.user--wrapper {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  cursor: pointer;
}
.user--wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.category-container {
  grid-area: list;
  padding: 1em;
  overflow: auto;
}

.category {
  min-height: 350px;
}
.category--topic {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.category--title {
  font-size: 20px;
  font-weight: 600;
}
.category--list {
  display: flex;
  padding: 40px 0;
  overflow: auto;
  flex-wrap: nowrap;
}
.category--list.category-loading {
  justify-content: center;
}

.category + .category {
  margin-top: 20px;
}

.movie {
  flex-shrink: 0;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 450ms;
  transform-origin: left center;
}
.movie--image {
  width: 180px;
  height: 250px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
}
.movie--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie--title {
  margin-top: 5px;
  text-align: center;
  color: #3F546C;
  font-size: 16px;
  font-weight: 300;
}

.movie + .movie {
  margin-left: 10px;
}

.movie:hover ~ .movie {
  transform: translateX(30px);
}

.movie:hover .movie {
  opacity: 0.3;
}

.movie:hover {
  opacity: 1;
  transform: scale(1.2);
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.loading div {
  width: 1rem;
  height: 1rem;
  margin: 2rem 0.3rem;
  background: var(--clr-primary);
  border-radius: 50%;
  animation: 0.9s bounce infinite alternate;
}
.loading div:nth-child(2) {
  animation-delay: 0.3s;
}
.loading div:nth-child(3) {
  animation-delay: 0.6s;
}

.loading-light {
  margin-top: 40%;
}
.loading-light div {
  background: var(--clr-light);
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}
.fadeIn {
  animation: 500ms fadeIn linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes modalOut {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}
.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: flex;
}

.modal {
  position: relative;
  width: 32%;
  min-height: 500px;
  padding: 1.5em;
  border-radius: 0.8em;
  background-color: var(--clr-light);
  display: grid;
  align-items: initial;
  justify-content: initial;
  grid-template-columns: 1fr;
  grid-template-rows: 240px auto 1fr auto;
  gap: 15px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.16), 0px 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3000px);
}
.modal .loading {
  display: none;
}
.modal > * {
  display: block;
}
.modal--title {
  width: 100%;
  margin: 0;
  text-align: center;
  grid-row: 2/span 1;
}
.modal--image {
  justify-self: center;
  max-width: 200px;
  grid-row: 1/span 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15), 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.modal--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal--summary {
  grid-row: 3/span 1;
  margin: 1em 0;
  padding: 1em 0;
  overflow: auto;
  max-height: 200px;
}
.modal--information {
  grid-row: 4/span 1;
  display: flex;
  overflow: auto;
  color: #666666;
  font-weight: 700;
  font-size: 14px;
}
.modal--information p {
  margin-right: 0.5em;
}
.modal--information a {
  margin: 0 0.3em;
  color: #95ca3e;
  font-weight: 700;
}
.modal--information a:first-of-type {
  margin-left: 0;
}
.modal--information a:last-of-type {
  margin-right: 0;
}
.modal--information span {
  color: #cccccc;
}
.modal--button {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 1.5%;
  right: 1.5%;
  padding: 0.5em;
  outline: none;
  transition: trasnform 500ms;
  cursor: pointer;
}
.modal--button-icon {
  width: 1.2rem;
}
.modal--button:hover {
  transform: scale(1.2);
}
.modal--button:hover svg {
  fill: #f27474;
}
.modal--button:active {
  transform: scale(1.2);
}
.modal--button:active svg {
  fill: #f27474;
}

.modal.modal-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.modal-loading > * {
  display: none;
}
.modal.modal-loading .loading {
  display: flex;
}

.modal.modal-error {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.modal-error > * {
  display: none;
}
.modal.modal-error .loading {
  display: none;
}
.modal.modal-error .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.modal.modal-error .modal--button {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
